USE [master]
GO
/****** Object:  Database [NBA_CHART_2526]    Script Date: 22-01-2026 19:55:22 ******/
CREATE DATABASE [NBA_CHART_2526]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'NBA_CHART_2526', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\NBA_CHART_2526.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'NBA_CHART_2526_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\NBA_CHART_2526_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [NBA_CHART_2526].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [NBA_CHART_2526]
GO
/****** Object:  Table [dbo].[dim_player]    Script Date: 22-01-2026 19:55:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dim_player](
	[player_id] [int] NOT NULL,
	[first_name] [varchar](50) NULL,
	[last_name] [varchar](50) NULL,
	[display_name] [varchar](100) NULL,
	[age] [int] NULL,
	[position] [varchar](5) NULL,
	[team_id] [int] NULL,
	[team_name] [varchar](50) NULL,
	[team_short_name] [varchar](5) NULL,
	[status] [varchar](20) NULL,
	[debut_year] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[player_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[fact_player_stats_snapshot]    Script Date: 22-01-2026 19:55:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[fact_player_stats_snapshot](
	[snapshot_id] [int] IDENTITY(1,1) NOT NULL,
	[player_id] [int] NULL,
	[season] [varchar](10) NULL,
	[snapshot_date] [date] NULL,
	[games_played] [int] NULL,
	[minutes_avg] [decimal](10, 2) NULL,
	[points_avg] [decimal](10, 2) NULL,
	[assists_avg] [decimal](10, 2) NULL,
	[rebounds_avg] [decimal](10, 2) NULL,
	[fg_pct] [decimal](10, 2) NULL,
	[three_pt_made_avg] [decimal](10, 2) NULL,
	[three_pt_attempt_avg] [decimal](10, 2) NULL,
	[three_pt_pct] [decimal](10, 2) NULL,
	[ft_made_avg] [decimal](10, 2) NULL,
	[ft_attempt_avg] [decimal](10, 2) NULL,
	[ft_pct] [decimal](10, 2) NULL,
	[steals_avg] [decimal](10, 2) NULL,
	[blocks_avg] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[snapshot_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[fact_player_stats_snapshot]  WITH CHECK ADD  CONSTRAINT [fk_player] FOREIGN KEY([player_id])
REFERENCES [dbo].[dim_player] ([player_id])
GO
ALTER TABLE [dbo].[fact_player_stats_snapshot] CHECK CONSTRAINT [fk_player]
GO
USE [master]
GO
