USE [master]
GO
/****** Object:  Database [NBACHART]    Script Date: 24-03-2026 16:55:40 ******/
CREATE DATABASE [NBACHART]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'NBACHART', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\NBACHART.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'NBACHART_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\NBACHART_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [NBACHART].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [NBACHART]
GO
/****** Object:  Table [dbo].[dim_player]    Script Date: 24-03-2026 16:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dim_player](
	[player_id] [int] NOT NULL,
	[first_name] [varchar](50) NULL,
	[last_name] [varchar](50) NULL,
	[display_name] [varchar](100) NULL,
	[age] [int] NULL,
	[position] [varchar](5) NULL,
	[team_id] [int] NULL,
	[team_name] [varchar](50) NULL,
	[team_short_name] [varchar](5) NULL,
	[status] [varchar](20) NULL,
	[debut_year] [int] NULL
PRIMARY KEY CLUSTERED 
(
	[player_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[fact_player_stats_snapshot]    Script Date: 24-03-2026 16:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[fact_player_stats_snapshot](
	[snapshot_id] [int] IDENTITY(1,1) NOT NULL,
	[player_id] [int] NOT NULL,
	[season] [varchar](10) NOT NULL,
	[snapshot_date] [date] NOT NULL,
	[games_played] [int] NULL,
	[minutes_avg] [decimal](10, 2) NULL,
	[points_avg] [decimal](10, 2) NULL,
	[assists_avg] [decimal](10, 2) NULL,
	[rebounds_avg] [decimal](10, 2) NULL,
	[fg_made_avg] [decimal](10, 2) NULL,
	[fg_attempt_avg] [decimal](10, 2) NULL,
	[fg_pct] [decimal](5, 2) NULL,
	[three_pt_made_avg] [decimal](10, 2) NULL,
	[three_pt_attempt_avg] [decimal](10, 2) NULL,
	[three_pt_pct] [decimal](5, 2) NULL,
	[ft_made_avg] [decimal](10, 2) NULL,
	[ft_attempt_avg] [decimal](10, 2) NULL,
	[ft_pct] [decimal](5, 2) NULL,
	[steals_avg] [decimal](10, 2) NULL,
	[blocks_avg] [decimal](10, 2) NULL,
	[fouls_avg] [decimal](10, 2) NULL,
	[flagrantfouls_avg] [decimal](10, 2) NULL,
	[technicalfouls_avg] [decimal](10, 2) NULL,
	[ejections_avg] [decimal](10, 2) NULL,
	[turnovers_avg] [decimal](10, 2) NULL,
	[dd2] [int] NULL,
	[td3] [int] NULL,
	[total_minutes] [int] NULL,
	[total_rebounds] [int] NULL,
	[total_fouls] [int] NULL,
	[total_points] [int] NULL,
	[fg_made] [int] NULL,
	[fg_attempted] [int] NULL,
	[three_pt_made] [int] NULL,
	[three_pt_attempted] [int] NULL,
	[ft_made] [int] NULL,
	[ft_attempted] [int] NULL,
	[total_assists] [int] NULL,
	[total_turnovers] [int] NULL,
	[total_steals] [int] NULL,
	[total_blocks] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[staging_dim_player]    Script Date: 24-03-2026 16:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[staging_dim_player](
	[player_id] [varchar](max) NULL,
	[first_name] [varchar](max) NULL,
	[last_name] [varchar](max) NULL,
	[display_name] [varchar](max) NULL,
	[age] [bigint] NULL,
	[position] [varchar](max) NULL,
	[team_id] [varchar](max) NULL,
	[team_name] [varchar](max) NULL,
	[team_short_name] [varchar](max) NULL,
	[status] [varchar](max) NULL,
	[debut_year] [float] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[stg_player_stats]    Script Date: 24-03-2026 16:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[stg_player_stats](
	[player_id] [int] NULL,
	[season] [varchar](10) NULL,
	[snapshot_date] [date] NULL,
	[games_played] [int] NULL,
	[minutes_avg] [decimal](10, 2) NULL,
	[points_avg] [decimal](10, 2) NULL,
	[assists_avg] [decimal](10, 2) NULL,
	[rebounds_avg] [decimal](10, 2) NULL,
	[fg_made_avg] [decimal](10, 2) NULL,
	[fg_attempt_avg] [decimal](10, 2) NULL,
	[fg_pct] [decimal](5, 2) NULL,
	[three_pt_made_avg] [decimal](10, 2) NULL,
	[three_pt_attempt_avg] [decimal](10, 2) NULL,
	[three_pt_pct] [decimal](5, 2) NULL,
	[ft_made_avg] [decimal](10, 2) NULL,
	[ft_attempt_avg] [decimal](10, 2) NULL,
	[ft_pct] [decimal](5, 2) NULL,
	[steals_avg] [decimal](10, 2) NULL,
	[blocks_avg] [decimal](10, 2) NULL,
	[fouls_avg] [decimal](10, 2) NULL,
	[flagrantfouls_avg] [decimal](10, 2) NULL,
	[technicalfouls_avg] [decimal](10, 2) NULL,
	[ejections_avg] [decimal](10, 2) NULL,
	[turnovers_avg] [decimal](10, 2) NULL,
	[dd2] [int] NULL,
	[td3] [int] NULL,
	[total_minutes] [int] NULL,
	[total_rebounds] [int] NULL,
	[total_fouls] [int] NULL,
	[total_points] [int] NULL,
	[fg_made] [int] NULL,
	[fg_attempted] [int] NULL,
	[three_pt_made] [int] NULL,
	[three_pt_attempted] [int] NULL,
	[ft_made] [int] NULL,
	[ft_attempted] [int] NULL,
	[total_assists] [int] NULL,
	[total_turnovers] [int] NULL,
	[total_steals] [int] NULL,
	[total_blocks] [int] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
USE [master]
GO
